.center-text{
    /* TODO 3.1: Align the text center or right */
    text-align: center;
    /* TODO 3.2: Change the color of the font to your favorite color */
    color: rgb(110, 23, 182);
    /* TODO: Make the font thicker */
    font-weight: bold;
    /* TODO 3.4: Increase the font size*/
    font-size: 5rem;
    /* TODO 3.5: Add an underline to the text */
    text-decoration: underline;
}
.paragraph-style{
    /* TODO 3.6: Make the font italic */
    font-style: italic;
    /* TODO 3.7: Change the font to  */
    font-family: Georgia;
    /* TODO 3.8: Increase the space between lines */
    line-height: 1.7;
}
.box{
     /* TODO 3.9: Set the width and height of the div. Try out the different units of HTML. px, em, %, in, rem  */
    width: 70%;
    height: 100px;
    /* TODO 3.10: Change the background color fo the div. Can you find a way to make the background color 50% transparent? */
    background-color: rgba(207, 30, 169, 0.5);
    /* TODO 3.11: Play around with the margin, padding and border. Can you find a way to set the size of specific sides? */
    padding: 15px 20px;
    margin: 50px 25px;
    border: 5px solid rgb(127, 88, 235);
    border-width: 10px 5px;
}